<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fajaryga.doyog">

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/nav_header_subtitle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WisataActivity"
            android:label="@string/wisata"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.PilihanActivity" />
        <activity
            android:name=".activity.PilihanActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.SlemanActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.WslmActivity"
            android:label="@string/wisata"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.PilihanActivity" />
        <activity android:name=".info"
            android:label="@string/nav_header_subtitle"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".activity.YogyakartaActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.WyogyakartaActivity"
            android:label="@string/wisata"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.YogyakartaActivity" />
        <activity
            android:name=".activity.GundulActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.WgundulActivity"
            android:label="@string/wisata"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.YogyakartaActivity" />
        <activity
            android:name=".activity.BantulActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.WbantulActivity"
            android:label="@string/wisata"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.YogyakartaActivity" />
        <activity android:name=".activity.KulonprogoActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".activity.WkulonprogoActivity"
            android:label="@string/wisata"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.KulonprogoActivity" ></activity>
    </application>

</manifest>